@model Ajan
<div class="col-lg-3 col-md-3">
    <div class="team-member">
        <div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="300ms">
            <div class="team-member-image">
                <img src="@Model.Resim" alt="" /> <!-- Change Image -->
                <div class="team-overlay">
                    <div class="img-overlay"></div>
                </div>
                <div class="overlay-content">
                    <div class="team-member-social-list">

                    </div>
                    <a class="btn btn-danger" asp-controller="Ajan" asp-action="Detay" asp-route-id="@Model.id">Detay</a>
                </div>
            </div>
            <div class="team-member-meta">
                <h4 class="team-member-name"><span class="main-color">@Model.Isim</span></h4>
                <div class="team-member-role">@Model.Rol</div>
            </div>
        </div>
    </div>
</div>

