<div class="stay-in parallax" id="about">
    <!-- Block Title -->
    <div class="overlay">
        <div class="wrapper-block-stay-in">
            <div class="element-title">
                <div class="row">
                    <div class="container">
                        <h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">FORUM</h1>
                        <h3 class="white-color wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">İletişimde Kal</h3>
                    </div>
                </div>
            </div>
            <!-- End Block Title -->
            <div class="signup">
                <div class="row">
                    <div class="container">
                        <div class="sign_form wow fadeInLeft" data-wow-duration="1s" data-wow-delay="300ms">
                            <!-- SUBSCRIPTION FORM -->
                            <form id="sign-form" method="post" action="Forum">
                                <input type="email" name="email" placeholder="E-Posta" class="form-control input-box">
                                <input type="submit" value="Kayıt Ol">
                                <div id="signup-error"></div>
                                <p>lütfen forumlarda spam yapmayın :)</p>
                            </form>
                            <!-- / END SUBSCRIPTION FORM -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="wrapper-tweet">
                        <!-- Twitter -->
                        <div class="tweet wow fadeInRight" data-wow-duration="1s" data-wow-delay="700ms">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="home-icon text-center">
                                    <i class="fa fa-home"></i>
                                    <h4>Benim sitem</h4>
                                </div>
                                <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#twitter-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#twitter-carousel" data-slide-to="1"></li>
                                        <li data-target="#twitter-carousel" data-slide-to="2"></li>
                                    </ol><!-- /.carousel-indicators -->

                                    <div class="carousel-inner">
                                        <div class="item active">
                                            Kolay Ve Anlaşılır
                                        </div>
                                        <div class="item">
                                            Hızlı Ve Güvenli
                                        </div>
                                        <div class="item">
                                            Sorunsuz Ve Gelişmeye Açık
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Twitter -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>