<section class="section-wrapper">
    <div class="slide-wrap" style="margin-bottom: 90px;" id="about">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel" style="height: 600px;">
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Change Image -->
                    <img style="height: auto; width:100%; overflow:hidden;" src="/images/ajan-anasayfa-bg.jpg" />
                    <div class="caption" style="height: 600px; width: 100%;">
                        <a data-scroll class="learn-more animated fadeInUpBig" asp-area="" asp-controller="Ajan" asp-action="List"><strong>AJANLARI TANI</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slide-wrap" style="margin-bottom: 90px;">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel" style="height: 600px;">
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Change Image -->
                    <img style="height: auto; width:100%; overflow:hidden;" src="/images/silah-anasayfa-bg.jpg" />
                    <div class="caption" style="height: 600px; width: 100%;">
                        <a data-scroll class="learn-more animated fadeInUpBig" asp-area="" asp-controller="Silah" asp-action="List"><strong>SİLAHLAN</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slide-wrap" style="margin-bottom: 90px;">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel" style="height: 600px;">
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Change Image -->
                    <img style="height: auto; width:100%; overflow:hidden;" src="/images/harita-anasayfa-bg.jpg" />
                    <div class="caption" style="height: 600px; width: 100%;">
                        <a data-scroll class="learn-more animated fadeInUpBig" asp-area="" asp-controller="Harita" asp-action="List"><strong>YOLUNU KAYBETME</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slide-wrap" style="margin-bottom: 90px;">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel" style="height: 600px;">
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Change Image -->
                    <img style="height: auto; width:100%; overflow:hidden;" src="/images/haber-anasayfa-bg.jpg" />
                    <div class="caption" style="height: 600px; width: 100%;">
                        <a data-scroll class="learn-more animated fadeInUpBig" asp-area="" asp-controller="Haber" asp-action="List"><strong>VALORANT HABERLER</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slide-wrap" style="margin-bottom: 90px;">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel" style="height: 600px;">
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Change Image -->
                    <img style="height: auto; width:100%; overflow:hidden;" src="/images/blog-anasayfa-bg.jpg" />
                    <div class="caption" style="height: 600px; width: 100%;">
                        <a data-scroll class="learn-more animated fadeInUpBig" asp-area="" asp-controller="Home" asp-action="Forum"><strong>FORUM İÇİN GİRİŞ YAP</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-wrapper">
    <!-- Contacts -->
    <div class="contacts">

        <!-- Block Title -->
        <div class="element-title">
            <div class="row">
                <div class="container">
                    <div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
                        <h1><span>Bizimle İletişime geç</span></h1>
                    </div>
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">benimle iletişime geç, <span class="main-color">Ömer ben </span> bana sorularını sorabilirsin.</h3>
                </div>
            </div>
        </div>
        <!-- End Block Title -->

        <div class="container">
            <div class="row">
                <div class="wrapper-contacts">
                    <div class="contact_form">
                        <div class="row">
                            <div class="wrapper-contacts-icons">
                                <div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
                                    <i class="fa fa-map-marker"></i>
                                    <div class="">Kadıköy</div>
                                    <div class="">İstanbul</div>
                                </div>
                                <div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="450ms">
                                    <i class="fa fa-mobile-phone"></i>
                                    <div class="">Pazartesi - Cuma 08:00 21:00</div>
                                    <div class="">+1800 920 8845</div>
                                </div>
                                <div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="600ms">
                                    <i class="fa fa-envelope-o"></i>
                                    <div class="">bizimle e-posta üzerinden iletişime geç</div>
                                    <div class="">bilgi@benimsitem.com</div>
                                </div>

                            </div>
                        </div>
                        <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="800ms">
                            <!-- Start contact-form -->
                            <form id="contact-form" method="post" action="#">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Ad">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="e-posta adresi">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="subject" class="form-control" placeholder="ID">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" placeholder="Mesaj" rows="8"></textarea>
                                    </div>
                                    <div id="output"></div>
                                    <input type="submit" class="" value="Gönder">
                                </div>
                            </form>
                            <!-- End contact-form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contacts -->

</section>
